
*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
}
main{
    min-height: 100vh;
}
.navbar-brand{
    padding: 0;
    margin-left: 1vw;
}
.navbar{
    margin-top: 2vh;
}
.navbar-nav{
    list-style: none;
}
.nav-item{
    margin-left: 20px;
    text-decoration: none;

}.nav-item>a{
    text-decoration: none;
}

footer{
    margin-top: 5vh;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #337ab7;

}
.footer-text{
    color: #fff;
    top: 10%;
}

.fixed{
    max-width: 25%;
}
